@charset "UTF-8";
body {
	text-align: center;
	background-color: skyblue;
}
.box {
	width: 80%;
	margin: auto;

}
h2{
	padding-left: 90px;
}
table{
	width: 100%;
}
table tr {
	font-size: 20px;
}
.list tr {
	height: 100px;
}
#self {
	float: right;
	margin: 0 0 10px 30px;
	font-size: 20px;
}
#intxt{
	outline: none;
	width: 200px;
	height: 20px;
	margin-left: 65px;
}
input[type="button"],[type="submit"]{
	width: 80px;
	height: 30px;
	cursor: pointer;
}
#all{
	width: 200px;
}
#search {
	text-align: right;
}
#btn{
	margin: 0 20px;
}